<h1>Update your bird</h1>

<form action="<%= `/birds/${id}?_method=PUT` %>" method="POST">
  <label>
    Title
    <input type="text" name="type" value="<%= birds.type %>" />
  </label>

  <label>
    Title
    <input type="text" name="city" value="<%= birds.city %>" />
  </label>

  <label>
    Description
    <input type="text" name="description" value="<%= birds.description %>" />
  </label>

  <button type="submit">Save Changes</button>
</form>
