<h1>Create a bird!</h1>

<form action="/birds" method="POST">
  <label>
    Title
    <input type="text" name="type" />
  </label>

  <label>
    City
    <input type="text" name="city" />
  </label>

  <label>
    Description
    <input type="text" name="description" />
  </label>

  <button type="submit">Create the bird!</button>
</form>
